@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Додайте ці стилі до вашого глобального CSS-файлу, наприклад, styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Ширина скролбару */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F1DACE; /* Колір треку скролбару */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #708360; /* Колір "повзунка" скролбару */
  border-radius: 10px;
  border: 2px solid #F1DACE; /* Округлення та відступ */
}
