@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Додайте ці стилі до вашого глобального CSS-файлу, наприклад, styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Ширина скролбару */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F1DACE; /* Колір треку скролбару */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #708360; /* Колір "повзунка" скролбару */
  border-radius: 10px;
  border: 2px solid #F1DACE; /* Округлення та відступ */
}


.simulation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px; /* Відстань між столиками */
  padding: 20px;
}

.simulation-background {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  background-color: #f1f1f1; /* Колір фону для симуляції */
  height: 100vh;
}

/* Стилі для столиків */
.table {
  width: 100%;
  height: 30%; /* Висота столика */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Імпортуємо зображення для кожного столика */
.table1 {
  background-image: url('/simulation/images/Table1.png');
}

.table2 {
  background-image: url('/simulation/images/Table2.png');
}

.table3 {
  background-image: url('/simulation/images/Table4.png');
}

/* Столик 4 розміщується під першими трьома столиками */
.table4 {
  grid-column: 1 / -1;
  justify-self: center;
  background-image: url('/simulation/images/Table3.png');
}
