@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Додайте ці стилі до вашого глобального CSS-файлу, наприклад, styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Ширина скролбару */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F1DACE; /* Колір треку скролбару */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #708360; /* Колір "повзунка" скролбару */
  border-radius: 10px;
  border: 2px solid #F1DACE; /* Округлення та відступ */
}



/*стилі для бекграунду*/

.simulation-background {
  height: 100%;
  width: 100%;
  background-color: #FFF2EB;
  position: relative; /* Для позиціонування елементів всередині */
}

.table-image {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 100%; /* Не виходити за межі контейнера */
  max-height: 80vh; /* Не виходити за межі екрану по висоті */
}

.casa-image{
  position: absolute;
  top: 100px;
  left: 900px;
  max-width: 100%; /* Не виходити за межі контейнера */
  max-height: 80vh; /* Не виходити за межі екрану по висоті */
}

.door-image{
  position: absolute;
  top: 92%;
  left: 86%;
  max-width: 100%; /* Не виходити за межі контейнера */
  max-height: 80vh; /* Не виходити за межі екрану по висоті */
}

/* стилі персонажів */

.cooker-image {
  max-width: 150px;
  height: auto;
  transition: transform 0.2s;
  cursor: pointer;
}

.cooker-image:hover {
  transform: scale(1.1);
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
