@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Додайте ці стилі до вашого глобального CSS-файлу, наприклад, styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Ширина скролбару */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #F1DACE; /* Колір треку скролбару */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #708360; /* Колір "повзунка" скролбару */
  border-radius: 10px;
  border: 2px solid #F1DACE; /* Округлення та відступ */
}



/*стилі для бекграунду*/

.simulation-background {
  height: 100%;
  width: 100%;
  background-color: #FFF2EB;
  position: relative; /* Для позиціонування елементів всередині */
}

.table-image {
  position: absolute;
  top: 100px;
  left: 100px;
  max-width: 100%; /* Не виходити за межі контейнера */
  max-height: 80vh; /* Не виходити за межі екрану по висоті */
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #f3e9e1;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.order-list {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #F1DACE;
  border-radius: 8px;
  margin-bottom: 10px;
}

.order-id {
  font-weight: bold;
  color: #C46034;
}

.order-item-name {
  flex: 1;
  margin-left: 10px;
}

.order-status {
  color: #555;
}

.close-button {
  background-color: #C46034;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.close-button:hover {
  background-color: #c85523;
}

.casa-image{
  position: absolute;
  top: 0px;
  left: 900px;
  max-width: 100%; /* Не виходити за межі контейнера */
  height: 100vh; /* Не виходити за межі екрану по висоті */
}

.door-image{
  position: absolute;
  top: 92%;
  left: 86%;
  max-width: 100%; /* Не виходити за межі контейнера */
  max-height: 80vh; /* Не виходити за межі екрану по висоті */
}

/* стилі персонажів */

.cooker-image {
  width: 170px;
  height: auto;
  transition: transform 0.2s;
  cursor: pointer;
}

.cooker-image:hover {
  transform: scale(1.1);
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.cashier-image {
  width: 125px; 
  height: auto; 
  transition: transform 0.2s;
  cursor: pointer;
}
.cashier-image:hover {
  transform: scale(1.1);
}

.client-image {
  width: 170px; 
  height: auto; 
  transition: transform 0.2s;
  cursor: pointer;
}
.client-image:hover {
  transform: scale(1.1);
}
